<script src="./node_modules/nwjs-kremlin/reload.js"></script>
<script>Reload.ignore(/[.](json|zip|crdownload)$/)</script>

<%= jquery />
<%= hashmap />
<%= jszip />
<%= file-saver />

  <style>
    
    table { border-collapse: collapse; }
    td { width: 1cm; height: 1cm; 
      border: 1px solid black;
      position: relative;
    }
    td i { top: 0; right: 1px; 
      position: absolute; 
      font-style: normal;
      font-size: smaller;
    }
    td.black { background: black; }
    td.highlit { background: rgba(255,255,0,0.2); }
    td p { margin: 0; text-align: center; 
      -webkit-user-modify: read-write;
      -moz-user-modify: read-write;
    }
    body { display: flex; align-items: stretch; height: 100%; }
    div.hints {
      background: url(data/birman.png);
      background-repeat: no-repeat;
      background-position: right -80px bottom;
      background-size: 1500px;
      flex: 1;
    }
  </style>
  <body>
    <div>
      <table id="crossword">
      </table>
      <button id="clear">Clear</button>
      <button id="download">Download</button>
    </div>
    <div class="hints"></div>
  </body>
  <script src="grid.ls.js"></script>
  <script src="crossword.ls.js"></script>
</html>
