<meta charset="UTF-8">

<script src="../../reload.js"></script>
<%= jquery %>
<%= angular %>
<%= angular.recursion %>
<%= underscore.js %>
  
  <!--
<script type="text/javascript">
ROOT_URL = "http://localhost:5000/"
__meteor_runtime_config__ = {
ROOT_URL: ROOT_URL,
DDP_DEFAULT_CONNECTION_URL: ROOT_URL
}
</script>
  
<%= meteor %>
  -->
  
<link rel="stylesheet" type="text/css" href="bellmania.css">
<script src="synopsis.ls.js"></script>
  
<style>
</style>

<div ng-app="app" ng-controller="Ctrl">
  <div class="cell"
    ng-repeat="cell in data | orderBy:'index'"
    ><display o="cell.value"></display></div>
</div>

<template type="text/ng-template" 
  id="display">
  <compute ng-if="o.tape"
    let="parts = o | display">
  <span class="code"
    ng-class="mark[1]" data-tip="{{mark[2]}}"
    ng-repeat="mark in parts
               track by $index"
    >{{mark[0]}}</span>
  </compute>
  <div ng-if="o.vbox"
    ng-repeat="el in o.vbox">
    <display o="el"></display>
  </div>
  <ul ng-if="o.list">
    <li ng-repeat="el in o.list">
      <display o="el"></display>
    </li>
  </ul>
  <ul ng-if="o.tree" class="c" 
      bullet="{{o.bullet}}">
    <li>
      <display o="o.tree.root">
      </display>
      <display ng-repeat="s in o.tree.subtrees"
        o="{tree: s}"></display>
    </li>
  </ul>
  <span class="code"
    ng-if="o | isString">{{o}}</span>
</template>

  
<%= livescript %>
